body{
    background-color: ghostwhite;
}

.toDoListApp {
    width: 300px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.newTask {
    width: calc(100% - 70px);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

ul li.checked {
    text-decoration: line-through;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input, button {
    margin: 5px 0;
}
